
@font-face
{
	font-family: 'NimbusSanL';
	src :url(NimbusSanL-Reg-webfont.eot),
		url(NimbusSanL-Reg-webfont.svg),
		url(NimbusSanL-Reg-webfont.ttf),
		url(NimbusSanL-Reg-webfont.woff);
}

*
{
	
	font-family: 'NimbusSanL','ariel','sans serif';



}
#bloc
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 ;
	padding: 0px;
}	
#tete
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}
#photo
{
	display: flex;
	flex-wrap: wrap;
	background-color: #3F51B5;
	width: 25%;
	  
	
}
.center
{
		 display: block;

  width: 70%;
  margin: auto;
  height: 70%;
}

#nom
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 1em;
	padding-left: 100PX;
	color: #7b7b7b;
	
	
	
	
}
#nom h4
{
	font-style: normal;
		font-size: 50px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	
	
	
		
}
#nom  h4 em
{
	color: #3F51B5;
	font-style: normal;	




}
#nom h5
{
	
		font-size: 20px;
		padding-bottom: 20px;
		line-height: 0;
		


}
#nom h5 em
{
	border-bottom :2px #3F51B5 solid;
	font-style: normal;
	
}
/**left**/
#left
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;


	background-color: #3F51B5;
	width: 25%;
	color: white;	
	font-size:1em;
		

}
#left h2
{
	text-align: center; 
	background-color: #00BCD4;
	text-transform: uppercase;
	
	font-size: 25px;

}

/** element left**/



 #aprops
 {
 	display: flex;
 	flex-direction: column;
 	flex :auto;
 	text-align: center;
 }
 #contact
 {
 	display: flex;
 	flex-direction: column;
	flex: none;
 }
 #left figure

 {
 	display: flex;
 	flex-direction: row;

 	flex :none;
 justify-content: center;
 	
 }


 
/**RIGHT**/
#right
{
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-left: 70px;
	color: #6d6d6d;
	
	
}
#right h2 
{
	text-transform: uppercase;
	border-bottom :2px #3F51B5 solid;
	padding-left: 0px;
	padding-bottom: 15px;
}


#right
{
	
	color: #7b7b7b;
		
}
#right p
{
	font-size:  1em;
	font-weight: normal;
	color: #7b7b7b;
	
}

	

#right img
{
	float: left;
	margin :0;
	width: 50px;
	height: 50px;
	color: #3F51B5;	
	margin-right: 4px;

}

table  td
{
width: 400px;
border-spacing: 0;

}
 .x :before 
{content:  "\2022"; color: #3F51B5;
  display: inline-block;
   width: 1em;
  margin-left: -1em;

}
.y  :before
{content:  "⦿"; color: #3F51B5;
  display: inline-block;
   width: 1em;
  margin-left: -1em;

}

@media all and (max-width: 1024px)
{
    #bloc
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    #photo
    {
    	display: flex;
    	order: 1;
    	width: 100%;
    	height: 100%;

    }
        #nom
    {
    	display: flex;
    	order: 2;
    	padding-left: 10px;

    }
    #right
    {
    	display: flex;
    	order: 3;
    	padding: 10px;
    
    }

 
      #left
    {
    	display: flex;
    	width: 100%;
    	order: 4;
    	margin: 0; 

    	}



     #right table td
     {
     	width: 40%;
     }
    	


}





