
@font-face
{
	font-family: 'NimbusSanL';
	src :url(NimbusSanL-Reg-webfont.eot),
		url(NimbusSanL-Reg-webfont.svg),
		url(NimbusSanL-Reg-webfont.ttf),
		url(NimbusSanL-Reg-webfont.woff);
}

*
{
	
	font-family: 'NimbusSanL','ariel','sans serif';
	
	margin: 0;
	

	}
#bloc
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80em;

	
	
}	
#tete
{
	display: flex;
	
	flex-direction: row;

	margin:0;
	
}
#photo
{
	display: flex;
		height: 15em;
		width: 20em;
	background-color: #3F51B5;
	margin-left: 140px;


}
.center
{
	
  display: block;
  width: 60%;
  margin: auto;
  height: 60%;
}

#nom
{
	display: flex;
	flex-direction: column;
	color: #7b7b7b;
	flex: auto;
		padding-top: 50px;
	padding-left: 50px;
	margin-right: 139px;

	border-right:  1px black solid;
	
	
	
	
}
#nom h4
{
	font-style: normal;
		font-size: 3em;
		padding-bottom: 10px;
	
	
	
		
}
#nom  h4 em
{
	color: #3F51B5;
	font-style: normal;	




}
#nom h5
{
	
		font-size: 2em;
		padding-bottom: 20px;
		
		


}
#nom h5 em
{
	border-bottom :2px #3F51B5 solid;
	font-style: normal;
	
}
/**left**/
#left
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
		padding-bottom: 20px;
		width: 20em;
	

	background-color: #3F51B5;
	

	color: white;	
	font-size:1em;

		

}
#left h2
{
	text-align: center; 
	background-color: #00BCD4;
	text-transform: uppercase;
	
	font-size: 2em;
	padding: 0 7px;


}

#left p
{
	padding-top: 20px;
}
/** element left**/



 #aprops
 {
 	display: flex;
 	flex-direction: column;
 	flex :auto;
 	

 }
 #aprops ul li
 {
 	padding-top: 10px;
 }
 #contact
 {
 	display: flex;
 	flex-direction: column;
	flex: none;
	padding-bottom: 10px;

	

	}
 #contact ul
 {
 	padding-top: 10px;
 }
 #left figure

 {
 	display: flex;
 	flex-direction: row;

 	flex :none;
 justify-content: center;
 	
 }


 
/**RIGHT**/
#right
{
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-left: 70px;
	padding-bottom: 20px;
	color: #6d6d6d;
	border-right:  1px black solid;
		
	
	
}
#right h2 
{
	text-transform: uppercase;
	border-bottom :2px #3F51B5 solid;
	padding-left: 0px;
	padding-bottom: 15px;
	color: #424242;
	
}



#right p
{
	font-size:  1em;
	font-weight: normal;
	color: #7b7b7b;
	
}

	

#right img
{
	float: left;
	margin :0;
	width: 30px;
	height: 30px;
	margin-right: 4px;
	
	;

}
#formation 
{
	display: flex;
	flex-direction: column;
	flex : auto;
	margin-bottom: 30px;
}
#experience
{
	display: flex;
	flex-direction: column;

	flex : auto;
	margin-bottom: 30px;
}
#langue
{
	display: flex;
	flex-direction: column;
	flex : auto;
}

table  td
{
width: 300px;
border-spacing: 0;
padding-top: 20px;

}
 .x :before 
{content:  "\2022"; color: #3F51B5;
  display: inline-block;
   width: 1em;
  margin-left: -1em;

}
.y  :before
{content:  "⦿"; color: #3F51B5;
  display: inline-block;
   width: 1em;
  margin-left: -1em;

}

@media all and (max-width: 1024px)
{

    #bloc
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: normal;
    }
    #tete
   {
   	display: flex;
   	flex-direction: column;
   	flex-wrap: wrap;
   	justify-content: normal;
   	
   	   	
   
   
   }
    #photo
    {
    	display: flex;
    	flex-wrap: wrap;
    	order: 1;
    	flex :auto;
    	
    	margin: 0 ;
    	padding: 0;
    	width: 100%;

    }
    #nom
    {
    	display: flex;
    	
    	order: 2;
    	width: 100%;
    	padding: 0 ;
    	margin:	0; 	


    }
    #right
    {
    	display: flex;
    	order: 3;
    	padding: 10px;
    	margin-left: 7px;
    
    }

 
      #left
    {
    	display: flex;
    	width: 100%;
    	order: 4;
    	margin: 0; 
    	text-decoration-color: none;

    	}

    	#contact ul
    	{
    		
 			text-align: center;
 			list-style-type: none;
    	}

     #right table td
     {
     	width: 20%;



     }
    	


}





